<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Todo Avançado</title>
  <link rel="stylesheet" href="/assets/css/tarefas.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
  <script src="/assets/js/tarefas.js" defer></script>
  <header>
    <nav>
      <a class="logo" href="/">UNIHELPER</a>
      <div class="mobile-menu">
        <div class="line1"></div>
        <div class="line2"></div>
        <div class="line3"></div>
      </div>
      <ul class="nav-list">
        <li><a href="/views/calendario.html">Calendário</a></li>
        <li><a href="#">Perfil</a></li>
        <li><a href="#">Tabela de tarefas</a></li>
        <li><a href="#">Ajuda</a></li>
      </ul>
    </nav>
</head>

<body>
  <div class="todo-container">
    <header>
      <h1>Lista de tarefas</h1>
    </header>
    <form id="todo-form">
      <p>Adicione uma tarefa</p>
      <div class="form-control">
        <input type="text" id="todo-input" placeholder="O que você vai fazer?" />
        <button type="submit">
          <i class="fa-thin fa-plus"></i>
        </button>
      </div>
    </form>
    <form id="edit-form" class="hide">
      <p>Edite sua tarefa</p>
      <div class="form-control">
        <input type="text" id="edit-input" />
        <button type="submit">
          <i class="fa-solid fa-check-double"></i>
        </button>
      </div>
      <button id="cancel-edit-btn">Cancelar</button>
    </form>
    <div id="toolbar">
      <div id="search">
        <h4>Pesquisar:</h4>
        <form>
          <input type="text" id="search-input" placeholder="Buscar..." />
          <button id="erase-button">
            <i class="fa-solid fa-delete-left"></i>
          </button>
        </form>
      </div>
      <div id="filter">
        <h4>Filtrar:</h4>
        <select id="filter-select">
          <option value="all">Todos</option>
          <option value="done">tarefas feitas</option>
          <option value="todo">tarefas não feitas</option>
        </select>
      </div>
    </div>
    <div id="todo-list">

    </div>
  </div>
</body>

</html>